#player-bar .horizontal-bar:hover .percent-value{
  background-color: var(--active-color);
}

#player-bar .horizontal-bar:hover .percent-value::after{
  font-family: 'FontAwesome';
  content: "\f111";
  color: white;
  font-size: 1rem;
  position: absolute;
  top: -6px;
  right: -5px;
}