aside{
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 250px;
  background-color: var(--sidebar-backgroud-color);
  padding-top: 30px;
  padding-left: 20px;
  overflow: hidden;
}

aside a{
  font-size: 0.9rem;
}

aside li{
  font-size: 0.9rem;
}

aside nav ul li{
  padding: 10px 0;
  list-style: none;
  color: var(--sidebar-grey-text);
}

aside .top ul{
  margin-bottom: 30px;
}

aside .top > img{
  width: 70%;
  margin-bottom: 30px;
}

aside .top nav li a{
  color: var(--sidebar-grey-text);
  line-height: 30px;
}

aside .top nav li a img{
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

aside .top .playlists h3{
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

aside .top .playlists a{
  color: var(--sidebar-grey-text);
  font-size: 1rem;
  font-weight: 800;
}

aside nav.overflow{
  overflow: auto;
  height: 60%;
  min-height: 20%;
}

aside .top .playlists a i{
  font-size: 2rem;
  padding-bottom: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

aside .overflow a{
  color: var(--sidebar-grey-text);
}

aside .bottom{
  flex-direction: column;
}

aside .bottom a{
  line-height: 20px;
  font-size: 14px;
  color: var(--sidebar-grey-text);
  margin-bottom: 10px;
}

aside .bottom a > img{
  width: 18px;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}

aside .horizontal-line{
  border-bottom: 1px solid var(--sidebar-grey-text);
  margin-bottom: 10px;
  margin-right: 20px;
}

aside .profile{
  align-items: center;
  margin-bottom: 10px;
}

aside .profile img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--sidebar-grey-text);
  padding-top: 2px;
  margin-right: 10px;
}

aside .profile span{
  color: white;
  font-weight: 800;
}