#player-bar{
  height: 70px;
  background-color: var(--bottom-menu-background-color);
  justify-content: space-between;
}

#player-bar .left{
  align-items: center;
  padding-left: 20px;
  color: white;
}

#player-bar .left img{
  width: 40px;
  margin-right: 10px;
}

#player-bar .left .song-infos h5{
  font-size: 0.9rem;
  font-weight: 800;
}

#player-bar .left .song-infos span{
  color: var(--sidebar-grey-text);
  font-size: 0.8rem;
  font-weight: 600;
}

#player-bar .left .icons-container{
  margin-left: 40px;
}

#player-bar .left .icons-container i{
  padding: 0 5px;
  color: var(--sidebar-grey-text);
}

#player-bar .center{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 300px;
}

#player-bar .center .song-control ul{
  align-items: center;
}

#player-bar .center .song-control ul li{
  list-style: none;
  color: white;
  font-size: 1.1rem;
  padding: 0 10px;
  cursor: pointer;
}

#player-bar .center .song-control ul li.big{
  font-size: 1.7rem;
  padding: 0 20px;
}

#player-bar .center .song-timebar{
  align-items: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  width: 100%;
  margin-top: 2px;
}

#player-bar .horizontal-bar{
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--sidebar-grey-text);
  margin: 0 20px;
  cursor: pointer;
}

#player-bar .horizontal-bar .percent-value{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

#player-bar .right .horizontal-bar{
  margin-left: 0;
}

#player-bar .right{
  width: 11%;
  min-width:200px;
  align-items: center;
}

#player-bar .right i{
  color: white;
  font-size: 0.8rem;
  padding: 0 10px;
  cursor: pointer;
}