.main-wrapper{
  height: calc(100vh - 70px);
}

main{
  background-color: var(--main-background-color);
  color: white;
  overflow: auto;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

#song-library .menu-songs{
  justify-content: center;
  margin-bottom: 30px;
}

#song-library .menu-songs ul{
  list-style: none;
  text-align: center;
}

#song-library .menu-songs ul li{
  display: inline-block;
  padding: 0px 10px;
}

#song-library .menu-songs ul li a{
  color: var(--main-grey-text);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}

#song-library .row, #song-library section{
  margin-top: 30px;
}

#song-library .row .col{
  width: calc(100% / 6);
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

#song-library .row .col > img{
  width: 100%;
}

#song-library .popular-artists .row .col > img{
  border-radius: 50%;
}

#song-library .section-title{
  padding-left: 10px;
}

#song-library .row h3{
  margin: 10px 0;
  text-align: center;
  font-weight: 800;
}

#song-library span{
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-grey-text);
  text-align: center;
}

#song-library .created-for h2, #song-library .popular-artists h2{
  margin-bottom: 10px;
}