@media screen and (max-width: 552px) {
  .d-none{
    display: none;
  }

  .mobile{
    display: block;
  }

  aside{
    width: 50px;
    padding-top: 10px;
    padding-left: 0;
    align-items: center;
  }

  aside .top > img{
    width: 25px;
    margin-bottom: 10px;
  }

  aside .top nav ul li{
    padding: 0;
    margin-bottom: 5px;
  }

  aside .top nav li a img{
    width: 25px;
    margin: 0;
  }

  aside .bottom{
    flex-direction: column;
    align-items: center;
  }

  aside .bottom a > img{
    width: 18px;
    margin-right: 0;
    margin-bottom: 20px;
    line-height: 0px;
    vertical-align: baseline;
  }

  aside .profile{
    align-items: center;
    margin-right: 0;
  }

  aside .profile img{
    margin-right: 0;
  }

  header{
    width: calc(100% - 50px);
  }

  main{
    margin-left: 50px;
  }
}